/************************************************
*	Tab Styling		   							*
************************************************/

.home-tabs {
	margin-left: 12px;
	}
.home-tabs .organic-tabs {
	margin: 0px;
	}
.home-tabs ul {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	}
.home-tabs ul li {
	float: left;
	background: #EEEEEE;
	border-top: none;
	list-style: none;
	position: relative;
	top: 0;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	border-left: 1px solid rgba(0, 0, 0, 0.09);
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
	}
.home-tabs ul li:first-child {
	background: #F9F9F9;
	margin-bottom: -1px;
	padding-bottom: 1px;
	border-left: none;
	border-bottom: none;
	border-radius: 3px 0px 0px 0px;
	}
.home-tabs ul li:last-child {
	border-right: none;
	border-radius: 0px 3px 0px 0px;
	}
.home-tabs ul li a {
	display: block;
	color: #999999 !important;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 0px;
	text-decoration: none !important;
	padding: 4px 12px;
	}
.home-tabs ul li:first-child a {
	color: #333333 !important;
	}
.home-tabs .organic-tabs > div {
	display: block;
	background: #F9F9F9;
	border-width: 0;
	padding: 12px 24px 24px 24px;
	border-radius: 0px 3px 3px 3px;
	overflow: hidden;
	}
.home-tabs #tabs-2,
.home-tabs #tabs-3 {
	display: none;
	}
.home-tabs .button {
	display: block;
	text-align: center;
	}